



<script>
      var bodyTag = document.getElementsByTagName("body")[0];
       bodyTag.className = bodyTag.className.replace("noJS", "hasJS");
</script>
<script type="text/javascript" src="src/js/main.js"></script>

</body>
</html>
