<header class="mod-comp1 comp1">
<h2>Some Component</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum sem neque, et ultrices eros blandit vel. Vestibulum porta ligula</p>
<a href="#learnmore">Learn More</a>
</header>

